<launch>
  <!-- Gazebo Bender simulation -->
  <include file="$(find bender_gazebo)/launch/bender.launch" />

  <!-- Basic interactive object using keyboard -->
  <include file="$(find bender_gazebo)/launch/controllable_object.launch" >
    <arg name="object" value="person"/>
    <arg name="key_teleop" value="true"/>
  </include>


</launch>